:root{
  /* declare variables here */
  --subFont: rgba(255,255,255,0.40);

  --25516: rgba(255,255,255,0.16);
  --25540: rgba(255,255,255,0.40);
  --25588: rgba(255,255,255,0.88);

  --cli01: limegreen;
  --cli02: magenta;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0,0,0,0.98);
  font-family: monospace;
  color: rgba(255,255,255,0.72);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Navbar container */
.navbar {
  overflow: hidden;
  margin: 16px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  margin-right: 16px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover{
  background-color: white;
  color: black;
}


.iframeComponent{
  position: relative;

  margin-bottom: 40px;
}

.iframeContainer{
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: black;

  /* place it center of html */
  left: 50%;
  transform: translate(-50%);
}
  
iframe{
  position: absolute;
  border: none;
  z-index: -1;

  width: 400px;
  /* shift to hide p5 bar */
  height: 442px;
  top: -42px;
}

/* FONTS */
.caption{
  position: relative;
  width: 400px;
  display: flex;

  left: 50%;
  transform: translate(-50%);
}

.notPoint{
  color:var(--25516)
}

.point{
  color: var(--25588)
}

.blog{
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
